.header{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
.header h1{
    font-size: 3.75em;
    color: white;
}
.search{
    position: relative;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    
    text-align: center;
}
.search input{
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 85%;
    height: 45px;
    font-size: large;
    padding-left: 15px;
}
.search .icon{
    position: absolute;
    right: 10%;
    top: 40%;
    }
.search form{
    margin-bottom: 60px;
}
.capitais{
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}
.capitais h1{
    color: white;
    font-size: 3em;
    margin-bottom: 0;
}
.capitais ul{
    margin-top: 0;
    display: inline-block;
    list-style: none;
    margin-left: -35px;
}
.minmax{
    font-weight: 100;
    line-height: 40px;
    font-size: small;
}
li{
    font-weight: 800;
    font-size: medium;
    line-height: 40px;
}
hr{
    color: white;
}